body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 70%;
    max-width: 800px;
}

h2, h3 {
    color: #333;
}

p {
    font-size: 16px;
}

input {
    width: 60%;
    padding: 10px;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background: #249ca3;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display:block;
    text-align: center; 
    margin: 0 auto;
}

button:hover {
    background: #0056b3;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

.title-example {
  margin-top: 60px;
  margin-bottom: 4px;
  font-size: 16px;
}

.preview-image {
    width: 100%;
    max-width: 500px; /* Ajusta el tamaño máximo */
    margin-top: 0;
    padding: 15px;
    border: 1px solid #ccc; /* Borde de 1px color gris claro */
    border-radius: 5px; /* Bordes ligeramente redondeados */
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
}

.highlight {
  color: #249ca3;
}
